body {
  color: aliceblue;
  background-color: #434645;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  height: 400px;
  border: 1px dashed black;
}

.myProgress{
  height: 30px;
  margin-bottom: 15px;
  max-width: 700px;
  width: 700px;
  background-color: #121313;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}

.myBar {
  height: 30px;
  margin-bottom: 15px;
  max-width: 700px;
  width: 700px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}

.iniciar {
  border: none;
  width: 100px;
  font-size: 19px;
  border-radius: 39px;
  color: aliceblue;
  background-color: black;
}